<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Jospo Media Library</title>
</head>
<body>
    <div class="container">
        <div id="media-list">
            <div class="container-fluid">
                <h1>{{ title }}</h1><br>
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01" v-on:change="filterList">
                    <option value="" selected>Select a type of Media...</option>
                    <option v-for="item in uniqueItemsList">{{ item }}</option>
                  </select>
                </div>
            </div><br>
            <div class="card mt-3"
                 v-for="media in mediaList"
                 v-show="type === '' || type === media.type"
                v-bind:class="[media.showDetails ? 'less': 'more', media.type]">
              <div class="card-header">
                  <h5 v-on:click="toggleDetails(media)"
                  >{{ media.title }}</h5>
              </div>
              <div class="card-body" v-show="media.showDetails">
                <blockquote class="blockquote mb-0">
                  <p>{{ media.description }}</p>
                  <footer class="blockquote-footer" v-if="media.contributor">By: <cite title="Source Title">{{ media.contributor }}</cite></footer>
                </blockquote>
              </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="app.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>